/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom Styles */
body {
    background: url(./bg-intro-desktop.png);
    background-color: #FF7978;
}
.container {
    max-width: 800px;
    padding: 32px;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside,.article {
    width: 50%;
}
.article {
    color: #fff;
}
.article h1 {
    font-size: 42px;
    font-size: 900;
}
.article p {
    font-size: 14px;
    margin-top: 20px;
}
form {
    background-color: #fff;
    padding: 32px 32px;
    border-radius: 6px;
}
button {
    width: 100%;
    border-radius: 6px;
    border: none;
    background-color: #5D54A3;
    padding: 16px;
    color: #fff;
    margin-bottom: 12px;
    margin-top: 12px ;
}
input {
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    border: 0.5px solid black;
    margin-top: 10px;
}
small {
    font-size: 12px;
    color: gray;
}
strong {
    color: red;
    font-weight: 600;
}
.trail {
    color: #fff;
}
.button-color {
    background-color: #37CC8A;
}